[submodule "thirdparty/vcpkg"]
	path = thirdparty/vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = master
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/openvdb"]
	path = thirdparty/openvdb
	url = https://github.com/betonowy/openvdb
[submodule "thirdparty/catch2"]
	path = thirdparty/catch2
	url = https://github.com/catchorg/catch2.git
